<% @proposals.each do |proposal| 
	@proposal = proposal
%>
	<div style="border: 1px solid #999; margin-bottom: 2em">
		<%= render :partial => 'view', :object=> proposal %>
		<%= link_to "Edit", :action => "edit", :id => proposal %>
		<%= link_to "Show", :action => "show", :id => proposal %>
	</div>
<% end %>
