
<h1>Actions</h1>
<ul>
	<li><%= link_to "Make a new proposal", :action => "new" %></li>
	<li><%= link_to "See pending Proposals", :action => "pending" %></li>
	<li>To Assign tasks to a proposal click Show for the proposal</li>
</ul>

<div>
	<h1>Current Proposals</h1>
	<%= render :partial => 'list' %>
</div>