<% @organizations.each do |organization| 
	@organization = organization
%>
	<div style="border: 1px solid #999; margin-bottom: 2em">
		Title: <%= @organization.name %></br>
		<h2>Evaluate Proposal Tasks</h2>
			<%= render :partial => "proposals/proposal_task_info", :locals => {:tasks => organization.evaluate_proposals} %>
	</div>
<% end %>
